.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0px;
  height: 100%;
}

.mainSpread {
  display: flex;
  flex-direction: row;
  flex: 8;
}

h2,
p {
  padding: 0px;
  margin: 0px;
}

.center {
  flex: 5;
  display: flex;
}
.articleDisplay {
  margin: 10px;
}
