@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC');

.commentsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.commentContainer {
  width: 22%;
  height: 130px;
  margin-right: 5px;
  overflow: scroll;
  font-family: 'Noto Serif TC', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 75%;
}
.commentBody {
  font-style: italic;
  overflow: scroll;
  font-size: 90%;
  flex: 5;
}

.commentAuthor {
  font-weight: bold;
  display: flex;
  flex: 1;
}

.deleteCommentButton {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: lightcoral;
  padding: 0px;
  margin: 0px;
}
.deleteCommentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
