.articlesByTopic {
  display: flex;
  flex-direction: row;
  flex: 8;
  overflow: scroll;
  flex-wrap: wrap;
  justify-content: center;
}

.artsCont {
  display: flex;
  width: 100%;
  flex-direction: column;
}
