@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

.articleCard {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5%;
  border: solid white 8px;
  margin: 5px;
  font-family: Major Mono Display;
  font-size: 25.5 vw;
  color: black;
  transition: 1s;
  font-weight: 900;
}

.articleCard:hover {
  border: solid darkgrey 8px;
}

.cardData {
  border-top: black solid 1px;
  padding-top: 5px;
  margin-top: 5px;
  flex: 1;
  font-family: Roboto;
}
.user {
  font-weight: bold;
}

.author {
  color: red;
}
