.articlesByTopic {
  display: flex;
  flex-direction: row;
  flex: 8;
  overflow: scroll;
  flex-wrap: wrap;
  justify-content: center;
}

.artsCont {
  display: flex;
  flex-direction: column;
  border: solid red 1px;
}
