@import url('https://fonts.googleapis.com/css?family=Oswald');

.articleCard {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5%;
  border: solid lightgrey 8px;
  margin: 5px;
  font-family: Oswald;
  font-size: 25.5 vw;
  color: black;
}

.articleCard:hover {
  border: solid darkgrey 8px;
}

.cardData {
  flex: 1;
  font-family: 'Oswald', light;
}
/* .author {
  text-decoration: underline;
} */
