@import url('https://fonts.googleapis.com/css?family=Roboto');

.moreArticles {
  height: 200px;
  width: 200px;
  padding: 10px;
  border-radius: 5%;
  border: solid white 8px;
  margin: 5px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.more {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: lightcoral;
  font-weight: 900;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid lightcoral 1px;
  transition: 0.25s;
  font-size: 130%;
}

.more:hover {
  animation-name: wiggle-rotation;
  animation-iteration-count: 5;
  animation-duration: 0.3s;
}

.voter {
  width: 150px;
  font-family: Roboto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  margin: 5px;
}
.voteContainer,
.vote {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: none;
  padding: 3px;
}

.voteContainer {
  flex: 1;
}

.vote {
  flex: 2;
}

.voteButton {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 0px;
  background-color: lightcoral;
  font-size: 120%;
}

.inner {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.deleter {
  font-size: 20px;
}
.button-one {
  font-weight: 900;
  border: solid white 1px;
  margin-bottom: 2px;
}
