.controlOuter {
  flex: 0.3;
  display: flex;
  justify-content: center;
}

.controlContainer {
  flex: 0.5;
  color: black;
  display: flex;
  border-bottom: solid black 1px;
}

.ascContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}

.sortContainer {
  flex: 2;
  display: flex;
}
.sortForm {
  display: flex;
  flex: 1;
}

.ascButton,
.submit,
.select {
  width: 100%;
  font-size: 100%;
  font-family: Major Mono Display;
}
.selectContainer,
.submitContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}

.selectLabel,
.select {
  flex: 1;
  height: 100%;
  background-color: white;
}
