@import url('https://fonts.googleapis.com/css?family=Roboto');

.commentFormContainer {
  flex: 0.3;
  display: flex;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: Roboto;
}

.formInner {
  display: flex;
  flex: 1;
}

.formEl {
  flex: 1;
  display: flex;
}

.inputField {
  flex: 6;
}
.commentField {
  flex: 1;
  width: 99%;
  height: 90%;
  border: 0px;
  border-left: solid black 1px;
}
.commentField:hover {
  border: solid black 1px;
}

.commentField:focus {
  outline: 0px;
  border: solid black 1px;
}

.newCommentHeader {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.formOuter {
  flex: 3;
  display: flex;
}

.submitButton {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: lightcoral;
  font-weight: bold;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid lightcoral 1px;
  transition: 0.25s;
}

.submitButton:hover {
  padding-bottom: 10px;
}
.submitButton:focus {
  outline: 0px;
}

@keyframes flash {
  from {
    background-color: lightcoral;
  }
  to {
    background-color: white;
  }
}

.flash {
  animation-name: flash;
  animation-duration: 1s;
}

.submitCont {
  flex: 1;
}
