@import url('https://fonts.googleapis.com/css?family=Pacifico');

.mainHeader {
  flex: 2;
  display: flex;
  font-family: Pacifico;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 400%;
  margin: 0px;
  padding: 0px;
}

.logo {
  margin-left: 40px;
  width: 100px;
  height: 100px;
}
