@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

.sideBarContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: Major Mono Display;
  border-left: solid black 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.linkContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.newLink {
  width: 80px;
  height: 80px;
  background-color: #f08080;
  border-radius: 20%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
  font-weight: bolder;
  border: solid white 8px;
  transition: 0.5s;
}
.linkText {
}
.newLink:hover {
  border: solid darkgrey 8px;
}

.welcomeContainer {
  flex: 0.2;
  text-align: center;
  font-weight: bold;
  border-bottom: solid black 1px;
  margin: 5px;
}
.plus {
  font-size: 300%;
}

.userName {
  color: lightcoral;
  font-style: italic;
}
