@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

.topTenOuter {
  flex: 3;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerUl {
  overflow: scroll;
  flex: 3;
}

.topTenUl {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.topTenLi {
  font-size: 70%;
  font-weight: 900;
  margin: 2px;
}
.containerLi {
  margin: 4px;
  display: flex;
}
.titleTenContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  font-family: Major Mono Display;
  font-weight: 900;
  width: 100%;
}

.titleTenInner {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: lightcoral;
  width: 100%;
  height: 50px;
}

.itemNumberCont {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemTitle {
  flex: 6;
}

.itemTitle:hover {
  text-decoration: underline;
}
.itemNumber {
  text-align: center;
  border-radius: 50%;
  background-color: lightcoral;
  width: 20px;
  height: 20px;
}

.trendIcon {
  padding-right: 5px;
}
